@font-face {
    font-family: "righteous-regular-webfont";
    src: url("Fonts/righteous-regular-webfont.woff");
}
:root{
    --border-top-left-radius-left: 10px;
    --border-top-right-radius-left: 0px;
    --border-bottom-left-radius-left: 10px;
    --border-bottom-right-radius-left: 0px;

    --border-top-left-radius-right: 0px;
    --border-top-right-radius-right: 10px;
    --border-bottom-left-radius-right: 0px;
    --border-bottom-right-radius-right: 10px
}
p{
    margin:0;
    padding:0;
}

html, body{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(26, 26, 26);
}

.mainpage {
    display: flex;
    width: 70%;
    height: 90%;
    border-radius: var(--border-radius);
}

.image{
    flex: 1;
    background-image: url("images/Plant.jpg");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-left-radius:var(--border-top-left-radius-left) ;
    border-top-right-radius: var(--border-top-right-radius-left);
    border-bottom-left-radius: var(--border-bottom-left-radius-left);
    border-bottom-right-radius: var(--border-bottom-rigth-radius-left);
}

.logoholder{
    background-color: rgba(179, 179, 179, 0.6);
    width: 100%;
    height: 30%;
    display: flex;
    gap: 10px;
}

.logo{
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

img{
    width: 100%;
    height: auto;
}

.logotextcontainer{
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 0;
}

.logotext1, .logotext2{
    font-family: righteous-regular-webfont;
    flex: 1;
    display: flex;
    justify-content: center;
    font-size: 5vh;
    gap: 0;
}

.logotext1{
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.logotext2{
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.mainform {
    flex: 2;
    background-color: rgb(216, 216, 216);
    display: flex;
    flex-direction: column;
    border-top-left-radius:var(--border-top-left-radius-right) ;
    border-top-right-radius: var(--border-top-right-radius-right);
    border-bottom-left-radius: var(--border-bottom-left-radius-right);
    border-bottom-right-radius: var(--border-bottom-right-radius-right);
}

.header, .footer{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 25%;
}

.footertext{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 2.2vh;
    padding: 10%;
}

.form{
    flex: 2;
    background-color: whitesmoke;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}

form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
}

/*There should be a div around each label + input to style easier*/
